@tailwind base;
@tailwind components;
@tailwind utilities;


/* global.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* Global styles */
body {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font globally */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f5f5f5; /* You can adjust this if you want a default bg color */
  color: #333;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
